/*Import fonts from css file*/
@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/*start navigation*/
.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 2rem;
}

.header-area .main-menu .navbar {
  padding: 2rem 5rem;
}

.header-area .main-menu .nav-item .nav-link {
  font: normal 600 15px/2px var(--montserrat);
  text-transform: uppercase;
  padding: 0.6rem;
  color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*end navigation*/

/**Banner Area**/

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .img-thumbnail {
  padding: 7rem;
  width: 90rem;
  border: none;
}

/**End Banner Area**/

/*Start About Area*/
.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-image {
  padding: 2rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--montserrat);
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 4rem 0;
}
/*End About Area*/
