/*Import fonts from css file*/
@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/*start navigation*/
.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 2rem;
}

.header-area .main-menu .navbar {
  padding: 2rem 5rem;
}

.header-area .main-menu .nav-item .nav-link {
  font: normal 600 15px/2px var(--montserrat);
  text-transform: uppercase;
  padding: 0.6rem;
  color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*end navigation*/

/**Banner Area**/

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .img-thumbnail {
  padding: 7rem;
  width: 90rem;
  border: none;
}

/**End Banner Area**/

/*Start About Area*/
.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-image {
  padding: 2rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--montserrat);
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 4rem 0;
}

/*End About Area*/

/*Start Brand Area*/
.site-main .brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 90%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img {
  filter: brightness(0.15);
}

.site-main .brand-area .experience-area {
  padding-left: 1rem;
}

.site-main .brand-area .experience-area span {
  display: block;
}

.site-main .brand-area .experience-area .years-area {
  background: url(../img/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.site-main .brand-area .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0;
  background: #e029290a;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years {
  font: normal bold 84px/40px var(--montserrat);
  color: var(--primary-color2);
}

.site-main .brand-area .experience-area .years-area h2 > span {
  font: normal 600 22px/30px var(--montserrat);
}

.site-main .brand-area .experience-area .call-area {
  padding-left: 7rem;
}
/*End Brand Area*/

/*Education Area Start*/

.site-main .education-area {
  padding: 7rem 2rem;
}

.site-main > .education-area .colleges {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5 rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .education-area .colleges > .ec-image > .col-img {
  width: 65%;
}

.site-main > .education-area .colleges > .uwb-image > .col-img {
  width: 70%;
  padding-top: 2.5rem;
}
.site-main > .education-area .colleges:hover {
  box-shadow: var(--box-shadow);
}

.site-main .education-area > .education-list > .ed-row > .col-col {
  padding: 0 0 0 3rem;
}
/*Education Area Ends*/

/*Experience area starts*/
.site-main .experience-area {
  padding: 4rem 0;
}

.site-main .experience-area .grid .our-project > .title h4 {
  font: normal 700 25px/25px var(--montserrat);
}

.site-main .experience-area .grid .our-project > .exp-img:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
/*Experience area ends*/

/*Projects Area start*/
.site-main .projects-area .projects-title p {
  padding: 1rem 7rem;
}

.site-main .projects-area .project {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .projects-area .project .project-img {
  padding: 2rem;
}

.site-main .projects-area .project .about-project {
  padding-top: 2rem;
}
.site-main .projects-area .project .about-project h4 {
  font: normal 500 21px/20px var(--montserrat);
}

.site-main .projects-area .project .about-project p {
  font-size: 14px;
}

.site-main .projects-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .projects-area .owl-carousel .owl-dots .owl-dots.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}
/*Projects Area ends*/

/*Contact Area Start*/
.site-main .contact-me-area .contact-me {
  background: url(../img/subscribe-bg.png) no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
}

.site-main .contact-me-area .contact-me .contact-me-title h4 {
  font: normal 700 30px/30px var(--montserrat);
  color: whitesmoke;
}

.site-main .contact-me-area .contact-me .contact-me-title p {
  color: whitesmoke;
  padding: 1rem 4rem;
}
.site-main .contact-me-area .contact-me form .input-textbox {
  padding-bottom: 1rem;
}

.site-main .contact-me-area .contact-me form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: whitesmoke;
  font: normal 700 17px/20px var(--montserrat);
}

.site-main .contact-me-area .contact-me form .input-textbox input::placeholder {
  color: whitesmoke;
}

.site-main .contact-me-area .contact-me form .btn-submit button {
  background: whitesmoke;
  color: black;
  padding: 0.7rem 2rem;
}
/*Contact Area Ends*/

/*Footer Area Starts*/
footer.footer-area {
  padding: 5rem 0;
  background: url(../img/footer-bg.png) no-repeat;
}
footer.footer-area .social h5 {
  font: normal bold 500 20px/30px var(--montserrat);
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: var(--border-color);
}
footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}
/*Footer Area Ends*/
